<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="page-title">Forma de Pagamento</div>
      <div class="content">
        <section>
          <mat-radio-group class="form-pag">
            <mat-radio-button value="1" (change)="onChangeEvent($event)">Boleto Bancário</mat-radio-button>
            <mat-radio-button value="2" (change)="onChangeEvent($event)">Cartão de Crédito</mat-radio-button>
          </mat-radio-group>
          <div class="credit-card" [formGroup]="createForm" *ngIf="mostrarDiv">
            <mat-form-field appearance="outline">
              <mat-label>Nome Completo</mat-label>
              <input matInput formControlName="nome" maxlength="40"/>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Numero do cartão</mat-label>
              <input matInput formControlName="numero" mask="0000-0000-0000-0000"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>CVV</mat-label>
              <input matInput formControlName="seguranca" mask="000"/>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Data de Validade</mat-label>
              <input matInput formControlName="validade" mask="00/00/0000"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Parcelas</mat-label>
              <mat-select formControlName="parcelas">
                <mat-option *ngFor="let parcelamento of parcelas" [value]="parcelamento.value">{{parcelamento.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </section>
        <aside>
          <div class="box">
            <header>Resumo da compra</header>
            <div class="info">
              <div><span>Total da compra</span><span>R$ {{totalValue}}</span></div>
            </div>
          </div>
          <button class="buy" routerLink="/checkout">Finalizar Compra</button>
        </aside>
      </div>
    </main>
  </body>
</html>
