<app-header></app-header>
<app-container>
  <h1>Cadastre seu Cartão</h1>

    <form [formGroup]="createForm">
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>Nome impresso no Cartão</mat-label>
          <input matInput formControlName="nome">
        </mat-form-field>
      </div>
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>Data de Validade</mat-label>
          <input matInput formControlName="validade">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Número do Cartão</mat-label>
          <input matInput formControlName="numero" mask="0000 0000 0000 0000">
        </mat-form-field>
      </div>
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>Código de Segurança</mat-label>
          <input matInput formControlName="seguranca">
        </mat-form-field>
      </div>
      <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="sendCreate()">Cadastrar</button>
      </mat-dialog-actions>
    </form>


</app-container>
<app-footer></app-footer>
