<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="page-title">Forma de Pagamento</div>
      <div class="content">
        <section>
          <table>
            <tbody>
              <tr>
                <td>
                  <div class="product">
                    <img src="https://picsum.photos/100/120" alt="" />
                    <div class="info">
                      <div class="name">olaaaaa</div>
                      <div class="category">ol3</div>
                    </div>
                  </div>
                </td>
                <td>R$ oww</td>
                <td>
                  <div class="qty">
                    <button>
                      <i class="bx bx-minus"></i>
                    </button>
                    <span>owkwmdw</span>
                    <button>
                      <i class="bx bx-plus"></i>
                    </button>
                  </div>
                </td>
                <td>
                  <button class="remove">
                    <i class="bx bx-x"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <aside>
          <div class="box">
            <header>Calcular Frete</header>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group">
            <mat-radio-button class="example-radio-button">

            </mat-radio-button>
          </mat-radio-group>
          </div>
          <div class="box">
            <header>Resumo da compra</header>
            <div class="info">
              <div><span>Sub-total</span><span>R$ </span></div>
              <div><span>Frete</span><span></span></div>
            </div>
            <footer>
              <span>Total</span>
              <span>R$ </span>
            </footer>
          </div>
          <button class="buy" >Finalizar Compra</button>
          <button routerLink="/inicio">Continuar Comprando</button>
        </aside>
      </div>
    </main>
  </body>
</html>
