.mat-elevation-z4 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-1, .container-2 {
  width: 600px;
  height: 320px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

.container{
  display: flex;
}
