<app-header></app-header>
<h1>Carrinho de Compras</h1>
<section class="container">
  <img src="../../../assets/gil santander.jpg" alt="" width="90px" height="90px">
  <div class="box-1">
    <p>Nome do Produto</p>
    <p>Descrição do Produto</p>
  </div>
  <div class="box-2">
    <button>
      <img src="../../../assets/seta-ida.svg" alt="">
    </button>
    <div class="box-2-1">
      <p>Quant.</p>
      <input type="text" value="1">
    </div>
    <button>
      <img src="../../../assets/seta-volta.svg" alt="">
    </button>
  </div>
  <div class="box-3">
    <p>Preço à vista:</p>
    <span>R$ preco</span>
  </div>
  <button mat-button class="remove">Remover</button>
</section>
<section class="container-2">
  <h1>Resumo</h1>
  <div class="box-4">
    <p>Valor dos Produtos: </p>
    <b>R$ valor</b>
  </div>
  <hr>
  <div class="box-4">
  <p>Frete:</p>
  <b>R$ valor</b>
  </div>
  <hr>
  <div class="box-5">
    <p>Total:</p>
    <span>R$ valor</span>
  </div>
</section>
<section class="container-3">
  <div class="container-3-1">
    <h3>Calcular Frete</h3>
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" mask="00000-000">
    </mat-form-field>
    <button mat-button (click)="abrirDiv()">OK</button>
  </div>
  <div class="container-3-2" *ngIf="mostrarDiv">
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="favoriteSeason">
      <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
        {{season}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</section>


