<header class="container">
  <a routerLink="/inicio">
  <img src="../../../assets/logoFourGames.png" alt="logo four games" width="120px" height="120px">
  </a>
  <div class="container_button">
    <div class="continer-description" *ngIf="logged === null">
      <img src="../../../assets/user-avatar.png" width="36px" height="36px">
      <span>
        Faça
        <a href="" routerLink="/login-user">LOGIN</a>
        ou
        <br>
        crie seu
        <a href="" routerLink="/cadastro-cliente">CADASTRO</a>
      </span>
    </div>
    <div class="continer-description--logged" *ngIf="logged">
      <img src="../../../assets/user-avatar.png" width="36px" height="36px">
      <span>
        Olá, {{nomeUsuario}}
        <br>
        <a routerLink="/dados-pessoais">MEUS DADOS</a> |
        <a (click)="logout()" class="cursor-sair">SAIR</a>
      </span>
    </div>
    <mat-icon [matBadge]="this.cart" matBadgeColor="warn" routerLink="/carrinho">shopping_basket</mat-icon>
  </div>
</header>

