*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container_button{
  display: flex;
  align-items: center;
  margin-right: 60px;
}

button{
  border-radius: 25px;
}

.img{
  margin-left: 20px;
  cursor: pointer;
}

.continer-description{
  display: flex;
}

.continer-description--logged{
  display: flex;
}

.cursor-sair{
  cursor: pointer;
}

a{
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: rgb(73, 97, 178);
}

.data{
  margin-right: 30px;
  font-weight: 500;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

.mat-icon{
  margin-left: 20px;
  cursor: pointer;
}
