<header class="container">
  <img src="../../../assets/logoFourGames.png" alt="logo four games" width="120px" height="120px">
  <div class="container_button">
    <div class="continer-description">
      <img src="../../../assets/user-avatar.png" width="36px" height="36px">
      <span>
        Faça
        <a href="" routerLink="/login-user">LOGIN</a>
        ou
        <br>
        crie seu
        <a href="" routerLink="/cadastro-cliente">CADASTRO</a>
      </span>
    </div>

    <img src="../../../assets/ph_basket.png" alt="" class="img">
  </div>
</header>

