<app-header></app-header>
<app-container>
  <h1>CRIAR CONTA</h1>

    <form [formGroup]="createForm">
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>Nome Completo</mat-label>
          <input matInput formControlName="nome">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput formControlName="nascimento" mask="00/00/0000">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" mask="000.000.000-00" (change)="checkIsCpfValid()">
        </mat-form-field>
      </div>
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>Gênero</mat-label>
          <input matInput formControlName="genero">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="senha">
        </mat-form-field>
      </div>
      <hr>
      <h1>Cadastre seu endereço</h1>
      <mat-form-field appearance="outline">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="logradouro">
      </mat-form-field>
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero">
        </mat-form-field>
      </div>
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro">
        </mat-form-field>
      </div>
      <div class="container-data">
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>UF</mat-label>
          <input matInput formControlName="uf" maxlength="2">
        </mat-form-field>
      </div>
      <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="sendCreate()">Cadastrar</button>
      </mat-dialog-actions>
    </form>


</app-container>
<app-footer></app-footer>
