h1{
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.container-data{
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: center;
}

mat-form-field{
  width: 100%;
}

button{
  display: flex;
  width: 30%;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
  bottom: 10px;
}
