@import '/node_modules/@angular/material/theming';

@import '../src/forgames-theme.scss';

@include mat-core();

$for-ui-primary: mat-palette($fgs-orange, A200);
$for-ui-accent: mat-palette($fgs-orange, A100);
$for-ui-warn: mat-palette($fgs-orange, A400);
$for-ui-theme: mat-light-theme($for-ui-primary, $for-ui-accent, $for-ui-warn);

@include angular-material-theme($for-ui-theme);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  color: $forgames-orange;
  font-family: 'Roboto', sans-serif;
}
